<h3 data-aos="fade-zoom-in">{{ section.settings.title }}</h3>
<p data-aos="fade-zoom-in">{{ section.settings.subtitle }}</p>
<div class="ready-to-buy__grid">
    <div class="ready-to-buy__each ready-to-buy__each1">
     {% assign col_blocks = section.blocks | where: 'type', 'col' %}
     {% for block in col_blocks %}
          <img src="{{ block.settings.image | image_url }}" width="100%" height="auto">
          <span>{{ block.settings.text1 }} {{ block.settings.text2 }}</span>
          <a href="javascript:void(0);" class="upload-design-btn">
            {{ block.settings.button }}
          </a>
      {% endfor %}
    </div>

    {% assign row_blocks = section.blocks | where: 'type', 'row' %}
    {% for block in row_blocks %}
       <div class="ready-to-buy__each ready-to-buy__each2">
           <div>
              <div>
                <span>{{ block.settings.text1 }} {{ block.settings.text2 }}</span>
              </div>
              <a href="javascript:void(0);" class="upload-design-btn">
                {{ block.settings.button }}
              </a>
          </div>
           <div>
               <img src="{{ block.settings.image | image_url }}" width="auto" height="auto">
            </div>
      </div>
  {% endfor %}
   
</div>


{% schema %}
  {
    "name": "Ready to buy",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      }
    ],
    "blocks": [
         {
          "name": "Col",
           "type": "col",
           "limit": 1,
           "settings":[{
              "type": "image_picker",
              "id": "image",
              "label": "Image" 
             },
             {
              "type": "text",
              "id": "text1",
              "label": "Text Top" 
             },
             {
              "type": "text",
              "id": "text2",
              "label": "Text Bottom" 
             },
             {
              "type": "text",
              "id": "button",
              "label": "Button text" 
             },
             {
              "type": "text",
              "id": "button_url",
              "label": "Button URL" 
             }
          ]
       },
      {
          "name": "Row",
           "type": "row",
           "limit": 2,
           "settings":[{
              "type": "image_picker",
              "id": "image",
              "label": "Image" 
             },
             {
              "type": "text",
              "id": "text1",
              "label": "Text Top" 
             },
             {
              "type": "text",
              "id": "text2",
              "label": "Text Bottom" 
             },
             {
              "type": "text",
              "id": "button",
              "label": "Button text" 
             },
             {
              "type": "text",
              "id": "button_url",
              "label": "Button URL" 
             }
          ]
       }
    ],
    "presets": [{ "name": "Ready To Buy" }],
    "tag": "div",
    "class": "ready-to-buy page-width"
  }
{% endschema %}