<h2 data-aos="fade-zoom-in" class="title__black">{{ section.settings.title }}</h2>
<h2  data-aos="fade-zoom-in" class="title__grad">{{ section.settings.title2 }}</h2>
<p data-aos="fade-zoom-in">{{ section.settings.subtitle }}</p>
<div class="step-2__grid">
    <div data-aos="fade-right" data-aos-duration="2000" class="step-2__each step-2__each1">
         <div class="video-container">
            <video autoplay muted loop playsinline preload="true">
              <source src="{{ section.settings.video_url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
    </div>
     <div data-aos="fade-left" data-aos-duration="2000" class="step-2__each step-2__each2">
        <h3>{{ section.settings.title_right }}</h3>
           <div class="right__grid">
              {% assign row_blocks = section.blocks | where: 'type', 'col' %}
              {% for block in row_blocks %}
                <div class="box">
                    <img src="{{ block.settings.image | image_url }}" width="100%" height="auto">
                    <p>{{ block.settings.text }}</p>
                </div>
              {% endfor %}
           </div>
     </div>   
</div>

<script>
        document.addEventListener('DOMContentLoaded', () => {
            const boxes = document.querySelectorAll('.box');
            let currentIndex = 0;

            function scaleNextBox() {
                // Remove the scaled class from all boxes
                boxes.forEach(box => box.classList.remove('scaled'));

                // Add the scaled class to the current box
                boxes[currentIndex].classList.add('scaled');

                // Move to the next box
                currentIndex = (currentIndex + 1) % boxes.length;
            }

            // Initial call to scale the first box
            scaleNextBox();

            // Set interval to scale each box every 2 seconds
            setInterval(scaleNextBox, 3500);
        });
    </script>


{% schema %}
  {
    "name": "Step 2",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video URL"
      },
      {
        "type": "text",
        "id": "title_right",
        "label": "Title Right"
      }
    ],
    "blocks": [
         {
          "name": "Col",
           "type": "col",
           "limit": 3,
           "settings":[
             {
              "type": "image_picker",
              "id": "image",
              "label": "Image" 
             },
             {
              "type": "text",
              "id": "text",
              "label": "Text" 
             }
          ]
         }
    ],
    "presets": [{ "name": "Step 2" }],
    "tag": "div",
    "class": "step-2 page-width"
  }
{% endschema %}